<form (ngSubmit)="onSubmit()" [formGroup]="filterForm">
    <!-- Dynamically create a select for each filtering key -->

    @for (filter of filteringOptions; track filter.key) {
        <div class="mb-4">
            <label class="label">{{ filter.key | titlecase }}</label>
            <select class="select select-bordered w-full max-w-xs" formControlName="{{ filter.key }}">
                <option disabled value="">Choose a {{ filter.key }}</option>
                @for (option of filter.options; track option) {
                    <option>{{ option }}</option>
                }
            </select>
        </div>
    }

    <div class="flex gap-4">
        <button class="btn btn-accent" type="submit">Submit</button>
        <button (click)="onClear()" class="btn btn-base-200" type="button">Clear</button>
    </div>
</form>
